
.header__nav__carrito--productos{
    display: grid;
    grid-template-areas: 
    "div h4 img"
    "div h5 h5"
    "div input h6";
    justify-content: start;
    align-content: baseline;
    width: 110px;
    height: auto;
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 1.2rem;
}
    .header__nav__carrito--h4{
        padding-top: 0.4rem;
        width: 11rem;
        font-size: 0.9rem;
    }
    .header__nav__carrito--trash{
        grid-area: img;
        max-width: 1rem;
        margin: 0.5rem 0 0rem 3rem;
    }
    .header__nav__carrito--h5{
        grid-area: h5;
        padding-bottom: 1.8rem;
        width: 8rem;
        font-size: 0.6rem;
        font-weight: 400;
    }
    .header__nav__carrito-img{
        grid-area: div;
        margin-right: 1.2rem;
        max-width: 108px;
        max-height: 116px;
        border-radius: 25px;
        border: 2px solid #D3D3D3;
        border-spacing: 1rem;
    }
    .header__nav__carrito--input{
        grid-area: input;
        border-radius: 15px;
        border: 1px solid black;
        width: 6rem;
        height: 1.5rem;
        cursor: pointer;
    }
    .header__nav__carrito--h6{
        grid-area: h6;
        color: #00AAAA;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
    }
    .header__nav__carrito--subtotal{
        display: flex;
        justify-content: end;
        margin-top: 3rem;
        margin-bottom: 2rem;
        height: 2rem;
        border-bottom: 2px solid #D3D3D3;
    }
    .header__nav__carrito--h3{
        margin-left: 1rem;
        color: #00AAAA;
    }
    .header__nav__carrito--envio{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .header__nav__carrito--camion{
            margin:0 1rem 0 1rem;
            height: 1rem;
            width: auto;
        }
    }
    .header__nav__carrito-h4{
        width: 12rem;
        margin-left: 2rem;
        margin-right: 1rem;
        text-align: start;
        color: #00AAAA;
    }

    .header__nav__carrito--div{
        display: flex;
        flex-direction: row;
        .header__nav__carrito--codigo-postal{
            border-radius: 10px 0 0 10px;
            height: 2.5rem;
            width: 180px;
            text-align: center;
            border: 0.1rem solid #D3D3D3;
            margin: 1rem 0 1rem 0.5rem;
        }
        .header__nav__carrito--button{
            grid-area: button;
            height: 2.5rem;
            width: 180px;
            color: white;
            cursor: pointer;
            background-color: #00AAA9;
            border: 0.1rem solid #00AAA9;
            border-radius: 0px 10px 10px 0px; 
            margin: 1rem 0.5rem 1rem 0;
        }

    }
    .header__nav__carrito-h3{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 1.4rem;
        color: #00AAAA;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 2px solid #D3D3D3;
    }
    .header__nav__carrito--button2{
        color: white;
        cursor: pointer;
        background-color: #00AAA9;
        border: none;
        height: 2.5rem;
        font-size: 1.4rem;
        width: 17rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 15px; 
    }          