.header__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    .header__logo{
        height: 160px;
        width: auto;
    }

    .header__buscador{
    position: relative;
    padding: 12px;
    width: 25rem;
    border-radius: 25px;
    border: 1px solid black;

    input{
        padding: 12px;
        width: 100%;
        border-radius: 25px;
        border: 1px solid black;
        }
    .header__buscador__opciones-busqueda{
        display: none;
        margin: 0;
        padding: 0;
        max-height: 12.5rem;
        overflow-y: auto;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: absolute;
        width: calc(100% - 24px); 
        top: 100%;
        left: 0;
        z-index: 1;
        }
        &-li{
            padding: 8px;
            cursor: pointer;
            list-style: none;
            transition: background-color 0.3s;
            }
            &:hover{
                background-color: #f0f0f0;
            }
}


    .header__buscador__opciones-busqueda.mostrar-opciones {
        display: block;
    }
    



    .header__nav__derecho{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        .header__nav__derecho--p{
            color: black;
            text-decoration: none;
        }
        
        .header__nav__derecho--div{
            display: flex;
            flex-direction: column;
            margin: 20px;
            align-items: center;
            .header__nav__derecho--atras{
                height: 0.5rem;
            }
            .header__nav__derecho--p{
                text-decoration: none;
            }
            .header__nav__derecho--p:hover{
                color: #00AAA9;
            }
        }

        .header__nav__derecho--img{
            width: 40px;
            margin-bottom: 0.5rem;
        }
    }
}

.header__nav{
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: black;
    .header__nav--ul{
        display: flex;
        align-items: center;
        .header__nav--a{
            text-decoration: none;
            color: white;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        .header__nav--a:hover{
        color: #00AAA9;
        }
    }
}
