*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}

.body__grid{
    display: grid;
    grid-template-rows: 14.7rem auto 11rem;
}    

a{
    text-decoration: none;
}

.header__y__main__ul{
    list-style-type: none;
}    

.main__img{
    width: 100%;
    height: auto;
    margin-top: 40px;
    object-fit: cover;
}

.main__error{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .error404{
        object-fit: cover;
    }
}

@import "_header.scss";
@import "_productos.scss";
@import "_carrito.scss";
@import "_nosotros.scss";
@import "_contacto.scss";
@import "_mi-cuenta.scss";
@import "_footer.scss";

@import "_medias-queries.scss";


